In [44]:
# pip install pandas
# pip install numpy

#  BOM: Bill Of Management
# 특정 제품을 만드는데 필요한 자재나 부품의 종류및 수량을 나열한 목록
# 출처: https://cocoworld.tistory.com/147 [COCO World:티스토리]

In [45]:
import pandas as pd
import numpy as np

In [65]:
csv_file = pd.read_csv('C:/Users/tjdrb/project/201807_회원정보.csv')
print(csv_file)

csv_file_copy = csv_file.copy()
csv_file_copy

           기준년월       발급회원번호  남녀구분코드   연령 VIP등급코드 최상위카드등급코드  회원여부_이용가능  \
0        201807        SYN_0       2  40대      07         _          1
1        201807        SYN_1       1  30대       _         1          1
2        201807        SYN_2       2  40대       _         _          1
3        201807        SYN_3       1  40대       _         _          1
4        201807        SYN_4       2  40대       _         _          0
...         ...          ...     ...  ...     ...       ...        ...
2999995  201807  SYN_2999995       2  30대       _         _          1
2999996  201807  SYN_2999996       1  50대      07         _          1
2999997  201807  SYN_2999997       2  50대       _         3          1
2999998  201807  SYN_2999998       1  20대       _         _          1
2999999  201807  SYN_2999999       1  50대       _         _          1

         회원여부_이용가능_CA  회원여부_이용가능_카드론  소지여부_신용  ...  할인금액_제휴연회비_B0M  \
0                   1              0        1  ...               0
1                   1              1        1  ...               0
2                   1              1        1  ...               0
3                   1              1        1  ...               0
4                   0              0        1  ...               0
...               ...            ...      ...  ...             ...
2999995             0              0        1  ...               0
2999996             1              1        1  ...               0
2999997             1              1        1  ...               0
2999998             1              0        1  ...               0
2999999             0              0        1  ...               0

         청구금액_기본연회비_B0M  청구금액_제휴연회비_B0M  상품관련면제카드수_B0M  임직원면제카드수_B0M  \
0                     0               0              0             0
1                     0               0              0             0
2                     0               0              0             0
3                     0               0              0             0
4                     0               0              0             0
...                 ...             ...            ...           ...
2999995               0               0              0             0
2999996               0               0              0             0
2999997               0               0              0             0
2999998               0               0              0             0
2999999               0               0              0             0

         우수회원면제카드수_B0M  기타면제카드수_B0M  카드신청건수  Life_Stage  최종카드발급경과월
0                    0            0       0  5.자녀성장기(2)         22
1                    0            0       0  4.자녀성장기(1)         18
2                    0            0       1  4.자녀성장기(1)          5
3                    0            0       0  4.자녀성장기(1)         43
4                    0            0       0  5.자녀성장기(2)         17
...                ...          ...     ...         ...        ...
2999995              0            0       0  4.자녀성장기(1)         19
2999996              0            0       0  5.자녀성장기(2)          0
2999997              0            0       0  5.자녀성장기(2)         15
2999998              0            0       0    1.Single          0
2999999              0            0       0  5.자녀성장기(2)         39

[3000000 rows x 79 columns]

,기준년월,발급회원번호,남녀구분코드,연령,VIP등급코드,최상위카드등급코드,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,SYN_0,2,40대,07,_,1,1,0,1,...,0,0,0,0,0,0,0,0,5.자녀성장기(2),22
1,201807,SYN_1,1,30대,_,1,1,1,1,1,...,0,0,0,0,0,0,0,0,4.자녀성장기(1),18
2,201807,SYN_2,2,40대,_,_,1,1,1,1,...,0,0,0,0,0,0,0,1,4.자녀성장기(1),5
3,201807,SYN_3,1,40대,_,_,1,1,1,1,...,0,0,0,0,0,0,0,0,4.자녀성장기(1),43
4,201807,SYN_4,2,40대,_,_,0,0,0,1,...,0,0,0,0,0,0,0,0,5.자녀성장기(2),17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,201807,SYN_2999995,2,30대,_,_,1,0,0,1,...,0,0,0,0,0,0,0,0,4.자녀성장기(1),19
2999996,201807,SYN_2999996,1,50대,07,_,1,1,1,1,...,0,0,0,0,0,0,0,0,5.자녀성장기(2),0
2999997,201807,SYN_2999997,2,50대,_,3,1,1,1,1,...,0,0,0,0,0,0,0,0,5.자녀성장기(2),15
2999998,201807,SYN_2999998,1,20대,_,_,1,1,0,1,...,0,0,0,0,0,0,0,0,1.Single,0
2999999,201807,SYN_2999999,1,50대,_,_,1,0,0,1,...,0,0,0,0,0,0,0,0,5.자녀성장기(2),39

In [66]:
## 데이터프레임 정보 확인
csv_file_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 79 columns):
 #   Column              Dtype
---  ------              -----
 0   기준년월                int64
 1   발급회원번호              object
 2   남녀구분코드              int64
 3   연령                  object
 4   VIP등급코드             object
 5   최상위카드등급코드           object
 6   회원여부_이용가능           int64
 7   회원여부_이용가능_CA        int64
 8   회원여부_이용가능_카드론       int64
 9   소지여부_신용             int64
 10  소지카드수_유효_신용         int64
 11  소지카드수_이용가능_신용       int64
 12  입회일자_신용             int64
 13  입회경과개월수_신용          int64
 14  회원여부_연체             int64
 15  이용거절여부_카드론          int64
 16  동의여부_한도증액안내         int64
 17  수신거부여부_TM           int64
 18  수신거부여부_DM           int64
 19  수신거부여부_메일           int64
 20  수신거부여부_SMS          int64
 21  가입통신회사코드            object
 22  탈회횟수_누적             int64
 23  최종탈회후경과월            int64
 24  탈회횟수_발급6개월이내        int64
 25  탈회횟수_발급1년이내         int64
 26  거주시도명               object
 27  직장시도명               object
 28  마케팅동의여부             int64
 29  유효카드수_신용체크          int64
 30  유효카드수_신용            int64
 31  유효카드수_신용_가족         int64
 32  유효카드수_체크            int64
 33  유효카드수_체크_가족         int64
 34  이용가능카드수_신용체크        int64
 35  이용가능카드수_신용          int64
 36  이용가능카드수_신용_가족       int64
 37  이용가능카드수_체크          int64
 38  이용가능카드수_체크_가족       int64
 39  이용카드수_신용체크          int64
 40  이용카드수_신용            int64
 41  이용카드수_신용_가족         int64
 42  이용카드수_체크            int64
 43  이용카드수_체크_가족         int64
 44  이용금액_R3M_신용체크       int64
 45  이용금액_R3M_신용         int64
 46  이용금액_R3M_신용_가족      int64
 47  이용금액_R3M_체크         int64
 48  이용금액_R3M_체크_가족      int64
 49  _1순위카드이용금액          int64
 50  _1순위카드이용건수          int64
 51  _1순위신용체크구분          object
 52  _2순위카드이용금액          int64
 53  _2순위카드이용건수          int64
 54  _2순위신용체크구분          object
 55  최종유효년월_신용_이용가능      float64
 56  최종유효년월_신용_이용        float64
 57  최종카드발급일자            float64
 58  보유여부_해외겸용_본인        int64
 59  이용가능여부_해외겸용_본인      int64
 60  이용여부_3M_해외겸용_본인     int64
 61  보유여부_해외겸용_신용_본인     int64
 62  이용가능여부_해외겸용_신용_본인   int64
 63  이용여부_3M_해외겸용_신용_본인  int64
 64  연회비발생카드수_B0M        int64
 65  연회비할인카드수_B0M        int64
 66  기본연회비_B0M           int64
 67  제휴연회비_B0M           int64
 68  할인금액_기본연회비_B0M      int64
 69  할인금액_제휴연회비_B0M      int64
 70  청구금액_기본연회비_B0M      int64
 71  청구금액_제휴연회비_B0M      int64
 72  상품관련면제카드수_B0M       int64
 73  임직원면제카드수_B0M        int64
 74  우수회원면제카드수_B0M       int64
 75  기타면제카드수_B0M         int64
 76  카드신청건수              int64
 77  Life_Stage          object
 78  최종카드발급경과월           int64
dtypes: float64(3), int64(66), object(10)
memory usage: 1.8+ GB

In [67]:
## 결측치 확인
csv_file_copy.isnull().sum()

기준년월             0
발급회원번호           0
남녀구분코드           0
연령               0
VIP등급코드          0
                ..
우수회원면제카드수_B0M    0
기타면제카드수_B0M      0
카드신청건수           0
Life_Stage       0
최종카드발급경과월        0
Length: 79, dtype: int64

In [68]:
print(csv_file_copy['연령'].value_counts())
# print(type(csv_file1['연령']))
print()
print(csv_file_copy['남녀구분코드'].value_counts())
print()
print(csv_file_copy['VIP등급코드'].value_counts())
print()
print(csv_file_copy['최상위카드등급코드'].value_counts())

연령
40대      915758
30대      739541
50대      683796
60대      309405
20대      240101
70대이상    111399
Name: count, dtype: int64

남녀구분코드
1    1572653
2    1427347
Name: count, dtype: int64

VIP등급코드
_     2402408
07     436556
06     159485
04       1352
05        199
Name: count, dtype: int64

최상위카드등급코드
_    2248445
1     355362
2     241695
3     124897
4      29601
Name: count, dtype: int64

In [69]:
## 필요한 데이터만 선택하여 출력
select_columns = ['남녀구분코드',
                  '연령', 
                  '소지여부_신용',
                  '소지카드수_유효_신용',
                  '회원여부_연체',
                  '이용거절여부_카드론',
                  '가입통신회사코드',
                  '유효카드수_신용',
                  '유효카드수_신용_가족',
                  '유효카드수_체크',
                  '유효카드수_체크_가족',
                  '이용가능카드수_신용',
                  '이용가능카드수_신용_가족',
                  '이용가능카드수_체크',
                  '이용가능카드수_체크_가족',
                  '이용카드수_신용',
                  '이용카드수_신용_가족',
                  '이용카드수_체크',
                  '이용카드수_체크_가족',
                  '기본연회비_B0M',
                  '제휴연회비_B0M',
                  '할인금액_기본연회비_B0M',
                  '할인금액_제휴연회비_B0M',
                  '청구금액_기본연회비_B0M',
                  '청구금액_제휴연회비_B0M',
                  '이용금액_R3M_신용',
                  '이용금액_R3M_신용_가족',
                  '이용금액_R3M_체크',
                  '이용금액_R3M_체크_가족',
                  '_1순위카드이용금액',
                  '_1순위카드이용건수',
                  '_1순위신용체크구분',
                  '연회비발생카드수_B0M',
                  '연회비할인카드수_B0M',
                  '상품관련면제카드수_B0M',
                  '임직원면제카드수_B0M',
                  '우수회원면제카드수_B0M',
                  '기타면제카드수_B0M',
                  '카드신청건수'
                  ]
# 39개 columns

csv_file_copy_df = csv_file_copy[select_columns]
csv_file_copy_df

,남녀구분코드,연령,소지여부_신용,소지카드수_유효_신용,회원여부_연체,이용거절여부_카드론,가입통신회사코드,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,...,_1순위카드이용금액,_1순위카드이용건수,_1순위신용체크구분,연회비발생카드수_B0M,연회비할인카드수_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수
0,2,40대,1,1,0,0,LGT,1,0,1,...,368148,26,신용,0,0,0,0,0,0,0
1,1,30대,1,1,0,0,KTF,1,0,0,...,1332368,46,신용,0,0,0,0,0,0,0
2,2,40대,1,1,0,0,SKT,1,0,0,...,290113,5,신용,0,0,0,0,0,0,1
3,1,40대,1,2,0,0,SKT,2,0,0,...,11823,9,신용,0,0,0,0,0,0,0
4,2,40대,1,1,0,0,KTF,1,0,0,...,0,-2,신용,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2,30대,1,1,0,1,SKT,2,0,0,...,0,-2,신용,0,0,0,0,0,0,0
2999996,1,50대,1,2,0,0,KTF,2,0,0,...,321353,83,신용,0,0,0,0,0,0,0
2999997,2,50대,1,1,0,0,LGT,1,0,0,...,2032200,73,신용,0,0,0,0,0,0,0
2999998,1,20대,1,1,0,0,SKT,1,0,2,...,538607,27,신용,0,0,0,0,0,0,0
2999999,1,50대,1,1,0,0,LGT,1,0,0,...,458847,9,신용,0,0,0,0,0,0,0

In [70]:
## _을 NaN으로 변경
csv_file_copy_df.replace('_', np.nan, inplace=True)
csv_file_copy_df

C:\Users\tjdrb\AppData\Local\Temp\ipykernel_2264\82128286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_file_copy_df.replace('_', np.nan, inplace=True)

,남녀구분코드,연령,소지여부_신용,소지카드수_유효_신용,회원여부_연체,이용거절여부_카드론,가입통신회사코드,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,...,_1순위카드이용금액,_1순위카드이용건수,_1순위신용체크구분,연회비발생카드수_B0M,연회비할인카드수_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수
0,2,40대,1,1,0,0,LGT,1,0,1,...,368148,26,신용,0,0,0,0,0,0,0
1,1,30대,1,1,0,0,KTF,1,0,0,...,1332368,46,신용,0,0,0,0,0,0,0
2,2,40대,1,1,0,0,SKT,1,0,0,...,290113,5,신용,0,0,0,0,0,0,1
3,1,40대,1,2,0,0,SKT,2,0,0,...,11823,9,신용,0,0,0,0,0,0,0
4,2,40대,1,1,0,0,KTF,1,0,0,...,0,-2,신용,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2,30대,1,1,0,1,SKT,2,0,0,...,0,-2,신용,0,0,0,0,0,0,0
2999996,1,50대,1,2,0,0,KTF,2,0,0,...,321353,83,신용,0,0,0,0,0,0,0
2999997,2,50대,1,1,0,0,LGT,1,0,0,...,2032200,73,신용,0,0,0,0,0,0,0
2999998,1,20대,1,1,0,0,SKT,1,0,2,...,538607,27,신용,0,0,0,0,0,0,0
2999999,1,50대,1,1,0,0,LGT,1,0,0,...,458847,9,신용,0,0,0,0,0,0,0

## 남녀구분코드

In [71]:
## 1 --- 남성, 2 --- 여성 으로 변경
csv_file_copy_df['남녀구분코드'] = np.where(csv_file_copy_df['남녀구분코드'] == 1, '남성', '여성')
# csv_file_copy_df['남녀구분코드'] = np.where(csv_file_copy_df['남녀구분코드'] == '남성', 1, 2)
csv_file_copy_df

C:\Users\tjdrb\AppData\Local\Temp\ipykernel_2264\1840565232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_file_copy_df['남녀구분코드'] = np.where(csv_file_copy_df['남녀구분코드'] == 1, '남성', '여성')

,남녀구분코드,연령,소지여부_신용,소지카드수_유효_신용,회원여부_연체,이용거절여부_카드론,가입통신회사코드,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,...,_1순위카드이용금액,_1순위카드이용건수,_1순위신용체크구분,연회비발생카드수_B0M,연회비할인카드수_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수
0,여성,40대,1,1,0,0,LGT,1,0,1,...,368148,26,신용,0,0,0,0,0,0,0
1,남성,30대,1,1,0,0,KTF,1,0,0,...,1332368,46,신용,0,0,0,0,0,0,0
2,여성,40대,1,1,0,0,SKT,1,0,0,...,290113,5,신용,0,0,0,0,0,0,1
3,남성,40대,1,2,0,0,SKT,2,0,0,...,11823,9,신용,0,0,0,0,0,0,0
4,여성,40대,1,1,0,0,KTF,1,0,0,...,0,-2,신용,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,여성,30대,1,1,0,1,SKT,2,0,0,...,0,-2,신용,0,0,0,0,0,0,0
2999996,남성,50대,1,2,0,0,KTF,2,0,0,...,321353,83,신용,0,0,0,0,0,0,0
2999997,여성,50대,1,1,0,0,LGT,1,0,0,...,2032200,73,신용,0,0,0,0,0,0,0
2999998,남성,20대,1,1,0,0,SKT,1,0,2,...,538607,27,신용,0,0,0,0,0,0,0
2999999,남성,50대,1,1,0,0,LGT,1,0,0,...,458847,9,신용,0,0,0,0,0,0,0

In [72]:
gender = pd.get_dummies(csv_file_copy_df['남녀구분코드'])
csv_file_copy_df.drop(['남녀구분코드'], axis=1, inplace=True)
csv_file_copy_df.rename(columns={'남성': 1, '여성': 2}, inplace=True)
csv_file_copy_df = pd.concat((csv_file_copy_df, gender), axis=1)
csv_file_copy_df

C:\Users\tjdrb\AppData\Local\Temp\ipykernel_2264\1693298568.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_file_copy_df.drop(['남녀구분코드'], axis=1, inplace=True)
C:\Users\tjdrb\AppData\Local\Temp\ipykernel_2264\1693298568.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_file_copy_df.rename(columns={'남성': 1, '여성': 2}, inplace=True)

,연령,소지여부_신용,소지카드수_유효_신용,회원여부_연체,이용거절여부_카드론,가입통신회사코드,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,유효카드수_체크_가족,...,_1순위신용체크구분,연회비발생카드수_B0M,연회비할인카드수_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,남성,여성
0,40대,1,1,0,0,LGT,1,0,1,0,...,신용,0,0,0,0,0,0,0,False,True
1,30대,1,1,0,0,KTF,1,0,0,0,...,신용,0,0,0,0,0,0,0,True,False
2,40대,1,1,0,0,SKT,1,0,0,0,...,신용,0,0,0,0,0,0,1,False,True
3,40대,1,2,0,0,SKT,2,0,0,0,...,신용,0,0,0,0,0,0,0,True,False
4,40대,1,1,0,0,KTF,1,0,0,0,...,신용,0,0,0,0,0,0,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,30대,1,1,0,1,SKT,2,0,0,0,...,신용,0,0,0,0,0,0,0,False,True
2999996,50대,1,2,0,0,KTF,2,0,0,0,...,신용,0,0,0,0,0,0,0,True,False
2999997,50대,1,1,0,0,LGT,1,0,0,0,...,신용,0,0,0,0,0,0,0,False,True
2999998,20대,1,1,0,0,SKT,1,0,2,0,...,신용,0,0,0,0,0,0,0,True,False
2999999,50대,1,1,0,0,LGT,1,0,0,0,...,신용,0,0,0,0,0,0,0,True,False

## 가입통신회사코드

In [75]:
# KT - 0 / SK - 1 / LG - 2 / 기타 - 3

csv_file_copy_df['가입통신회사코드'].value_counts()
csv_file_copy_df['가입통신회사코드'].replace('KTF', 'KT', inplace=True)
csv_file_copy_df['가입통신회사코드'].replace('SKT', 'SK', inplace=True)
csv_file_copy_df['가입통신회사코드'].replace('LGT', 'LGU+', inplace=True)
csv_file_copy_df['가입통신회사코드'].replace('ETC', '기타', inplace=True)
csv_file_copy_df['가입통신회사코드']

0          LGU+
1            KT
2            SK
3            SK
4            KT
           ...
2999995      SK
2999996      KT
2999997    LGU+
2999998      SK
2999999    LGU+
Name: 가입통신회사코드, Length: 3000000, dtype: object

In [76]:
bs_name = pd.get_dummies(csv_file_copy_df['가입통신회사코드'])
csv_file_copy_df.drop('가입통신회사코드', axis=1, inplace=True)
csv_file_copy_df = pd.concat([csv_file_copy_df, bs_name], axis=1)
csv_file_copy_df

,연령,소지여부_신용,소지카드수_유효_신용,회원여부_연체,이용거절여부_카드론,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,유효카드수_체크_가족,이용가능카드수_신용,...,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,남성,여성,KT,LGU+,SK
0,40대,1,1,0,0,1,0,1,0,1,...,0,0,0,0,0,False,True,False,True,False
1,30대,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,True,False,True,False,False
2,40대,1,1,0,0,1,0,0,0,1,...,0,0,0,0,1,False,True,False,False,True
3,40대,1,2,0,0,2,0,0,0,2,...,0,0,0,0,0,True,False,False,False,True
4,40대,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,30대,1,1,0,1,2,0,0,0,2,...,0,0,0,0,0,False,True,False,False,True
2999996,50대,1,2,0,0,2,0,0,0,2,...,0,0,0,0,0,True,False,True,False,False
2999997,50대,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,False,True,False,True,False
2999998,20대,1,1,0,0,1,0,2,0,1,...,0,0,0,0,0,True,False,False,False,True
2999999,50대,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,True,False,False,True,False

In [56]:
# csv_file_copy['연령'].replace('2', '20대', inplace=True) 
# csv_file_copy['연령'].replace('3', '30대', inplace=True)
# csv_file_copy['연령'].replace('4', '40대', inplace=True)
# csv_file_copy['연령'].replace('5', '50대', inplace=True)
# csv_file_copy['연령'].replace('6', '60대', inplace=True)
# csv_file_copy['연령'].replace('7', '70대이상', inplace=True)
# csv_file_copy

In [57]:
# ## 신용 - 0 / 체크 - 1
# csv_file_copy['카드구분코드'].replace('신용', 0, inplace=True)
# csv_file_copy['카드구분코드'].replace('체크', 1, inplace=True)

## _1순위신용체크구분

In [77]:
card_name = pd.get_dummies(csv_file_copy_df['_1순위신용체크구분'])
csv_file_copy_df.drop('_1순위신용체크구분', axis=1, inplace=True)
csv_file_copy_df = pd.concat([csv_file_copy_df, card_name], axis=1)
csv_file_copy_df

,연령,소지여부_신용,소지카드수_유효_신용,회원여부_연체,이용거절여부_카드론,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,유효카드수_체크_가족,이용가능카드수_신용,...,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,남성,여성,KT,LGU+,SK,신용,체크
0,40대,1,1,0,0,1,0,1,0,1,...,0,0,0,False,True,False,True,False,True,False
1,30대,1,1,0,0,1,0,0,0,1,...,0,0,0,True,False,True,False,False,True,False
2,40대,1,1,0,0,1,0,0,0,1,...,0,0,1,False,True,False,False,True,True,False
3,40대,1,2,0,0,2,0,0,0,2,...,0,0,0,True,False,False,False,True,True,False
4,40대,1,1,0,0,1,0,0,0,0,...,0,0,0,False,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,30대,1,1,0,1,2,0,0,0,2,...,0,0,0,False,True,False,False,True,True,False
2999996,50대,1,2,0,0,2,0,0,0,2,...,0,0,0,True,False,True,False,False,True,False
2999997,50대,1,1,0,0,1,0,0,0,1,...,0,0,0,False,True,False,True,False,True,False
2999998,20대,1,1,0,0,1,0,2,0,1,...,0,0,0,True,False,False,False,True,True,False
2999999,50대,1,1,0,0,1,0,0,0,0,...,0,0,0,True,False,False,True,False,True,False

In [78]:
## 변경된 데이터 확인
csv_file_copy_df.head()
csv_file_copy_df

,연령,소지여부_신용,소지카드수_유효_신용,회원여부_연체,이용거절여부_카드론,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,유효카드수_체크_가족,이용가능카드수_신용,...,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,남성,여성,KT,LGU+,SK,신용,체크
0,40대,1,1,0,0,1,0,1,0,1,...,0,0,0,False,True,False,True,False,True,False
1,30대,1,1,0,0,1,0,0,0,1,...,0,0,0,True,False,True,False,False,True,False
2,40대,1,1,0,0,1,0,0,0,1,...,0,0,1,False,True,False,False,True,True,False
3,40대,1,2,0,0,2,0,0,0,2,...,0,0,0,True,False,False,False,True,True,False
4,40대,1,1,0,0,1,0,0,0,0,...,0,0,0,False,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,30대,1,1,0,1,2,0,0,0,2,...,0,0,0,False,True,False,False,True,True,False
2999996,50대,1,2,0,0,2,0,0,0,2,...,0,0,0,True,False,True,False,False,True,False
2999997,50대,1,1,0,0,1,0,0,0,1,...,0,0,0,False,True,False,True,False,True,False
2999998,20대,1,1,0,0,1,0,2,0,1,...,0,0,0,True,False,False,False,True,True,False
2999999,50대,1,1,0,0,1,0,0,0,0,...,0,0,0,True,False,False,True,False,True,False

In [79]:
csv_file_copy_df.shape

# (3000000, 43)

(3000000, 43)

In [61]:
# ## 필요한 데이터만 선택하여 출력
# select_columns = ['남녀구분코드',
#                   '연령', 
#                   '소지여부_신용',
#                   '소지카드수_유효_신용',
#                   '회원여부_연체',
#                   '이용거절여부_카드론',
#                   '가입통신회사코드',
#                   '유효카드수_신용',
#                   '유효카드수_신용_가족',
#                   '유효카드수_체크',
#                   '유효카드수_체크_가족',
#                   '이용가능카드수_신용',
#                   '이용가능카드수_신용_가족',
#                   '이용가능카드수_체크',
#                   '이용가능카드수_체크_가족',
#                   '이용카드수_신용',
#                   '이용카드수_신용_가족',
#                   '이용카드수_체크',
#                   '이용카드수_체크_가족',
#                   '기본연회비_B0M',
#                   '제휴연회비_B0M',
#                   '할인금액_기본연회비_B0M',
#                   '할인금액_제휴연회비_B0M',
#                   '청구금액_기본연회비_B0M',
#                   '청구금액_제휴연회비_B0M',
#                   '이용금액_R3M_신용',
#                   '이용금액_R3M_신용_가족',
#                   '이용금액_R3M_체크',
#                   '이용금액_R3M_체크_가족',
#                   '_1순위카드이용금액',
#                   '_1순위카드이용건수',
#                   '_1순위신용체크구분',
#                   '연회비발생카드수_B0M',
#                   '연회비할인카드수_B0M',
#                   '상품관련면제카드수_B0M',
#                   '임직원면제카드수_B0M',
#                   '우수회원면제카드수_B0M',
#                   '기타면제카드수_B0M',
#                   '카드신청건수'
#                   ]
# # 39개 columns



# # ---------------------------------------------------------------------- 40개 빠짐 ----------------------------------------------------------------------
# # 기준년월
# # 발급회원번호
# # 거주시도명
# # 직장시도명
# # VIP등급코드
# # 최상위카드등급코드
# # 회원여부_이용가능
# # 회원여부_이용가능_CA
# # 회원여부_이용가능_카드론
# # 소지카드수_이용가능_신용
# # 입회일자_신용
# # 입회경과개월수_신용
# # 동의여부_한도증액안내
# # 수신거부여부_TM
# # 수신거부여부_DM
# # 수신거부여부_메일
# # 수신거부여부_SMS
# # 탈회횟수_누적
# # 최종탈회후경과월
# # 탈회횟수_발급6개월이내
# # 탈회횟수_발급1년이내
# # 마케팅동의여부 -------------------- 22

# # 최종유효년월_신용_이용가능
# # 최종유효년월_신용_이용
# # 최종카드발급일자
# # 최종카드발급경과월

# # _2순위카드이용금액
# # _2순위카드이용건수
# # _2순위신용체크구분

# # 유효카드수_신용체크
# # 이용가능카드수_신용체크
# # 이용카드수_신용체크
# # 이용금액_R3M_신용체크

# # 이용여부_3M_해외겸용_본인
# # 보유여부_해외겸용_신용_본인
# # 보유여부_해외겸용_본인
# # 이용가능여부_해외겸용_본인
# # 이용가능여부_해외겸용_신용_본인
# # 이용여부_3M_해외겸용_신용_본인

# # Life_Stage ---------------- 11

_1순위카드건수 중 '-'음수의 경우 카드 거래 이용 후 거래 취소로 인한 차감 발생.

In [80]:
csv_modify = csv_file_copy_df
csv_modify

,연령,소지여부_신용,소지카드수_유효_신용,회원여부_연체,이용거절여부_카드론,유효카드수_신용,유효카드수_신용_가족,유효카드수_체크,유효카드수_체크_가족,이용가능카드수_신용,...,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,남성,여성,KT,LGU+,SK,신용,체크
0,40대,1,1,0,0,1,0,1,0,1,...,0,0,0,False,True,False,True,False,True,False
1,30대,1,1,0,0,1,0,0,0,1,...,0,0,0,True,False,True,False,False,True,False
2,40대,1,1,0,0,1,0,0,0,1,...,0,0,1,False,True,False,False,True,True,False
3,40대,1,2,0,0,2,0,0,0,2,...,0,0,0,True,False,False,False,True,True,False
4,40대,1,1,0,0,1,0,0,0,0,...,0,0,0,False,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,30대,1,1,0,1,2,0,0,0,2,...,0,0,0,False,True,False,False,True,True,False
2999996,50대,1,2,0,0,2,0,0,0,2,...,0,0,0,True,False,True,False,False,True,False
2999997,50대,1,1,0,0,1,0,0,0,1,...,0,0,0,False,True,False,True,False,True,False
2999998,20대,1,1,0,0,1,0,2,0,1,...,0,0,0,True,False,False,False,True,True,False
2999999,50대,1,1,0,0,1,0,0,0,0,...,0,0,0,True,False,False,True,False,True,False

In [81]:
## 새로운 파일저장
csv_modify.to_csv('201807_회원정보(수정).csv', index=False)

In [13]:
# csv_file_copy['기본연회비_B0M'].value_counts()
# print(csv_file_copy)

기본연회비_B0M
0        2978749
5001         908
5000         672
5002         533
5003         245
          ...
11074          1
10309          1
10328          1
10331          1
10543          1
Name: count, Length: 780, dtype: int64

In [64]:
# csv_file_copy.columns.value_counts()

기준년월             1
발급회원번호           1
남녀구분코드           1
연령               1
VIP등급코드          1
                ..
우수회원면제카드수_B0M    1
기타면제카드수_B0M      1
카드신청건수           1
Life_Stage       1
최종카드발급경과월        1
Name: count, Length: 79, dtype: int64