In [4]:
import pandas as pd

data = pd.read_csv('2024.11 대안.csv', encoding='cp949')
words_to_drop = ['행정동코드','자치구','행정동','1인가구수', '분위수', '출근', '근무시간', '카카오톡','통화','문자','이동','집 추정','미추정','인구']
pattern = '|'.join(words_to_drop)
data_clean = data.loc[:, ~data.columns.str.contains(pattern)]
data_clean

,성별,연령대,야간상주지 변경횟수 평균,주간상주지 변경횟수 평균,소액결재 사용횟수 평균,소액결재 사용금액 평균,최근 3개월 내 요금 연체 비율,SNS 사용횟수,데이터 사용량,게임 서비스 사용일수,금융 서비스 사용일수,쇼핑 서비스 사용일수,동영상/방송 서비스 사용일수,유튜브 사용일수,넷플릭스 사용일수,배달 서비스 사용일수,배달_브랜드 서비스 사용일수,배달_식재료 서비스 사용일수
0,1,20,2.6,3.6,0.0,4250.0,8.97,0.1,25.8,74.7,184.7,175.8,79.0,0.3,-0.2,12.8,2.4,1.7
1,1,25,2.2,3.1,2.2,5802.5,11.28,0.2,22.6,62.6,200.9,201.7,75.8,0.3,-0.1,14.4,2.5,0.0
2,1,30,1.9,2.6,2.4,5711.1,7.73,0.2,20.4,53.0,195.6,219.7,77.4,0.2,-0.2,16.7,3.1,1.7
3,1,35,1.8,2.4,2.3,6071.4,7.87,0.1,14.3,43.1,197.1,216.4,72.4,0.1,-0.2,14.2,2.5,1.7
4,1,40,1.6,2.4,1.7,5038.1,6.40,0.1,12.6,42.9,193.7,236.6,73.0,0.0,-0.3,13.1,2.8,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10171,2,55,1.6,2.6,2.3,5650.9,7.94,-0.1,3.1,20.4,112.9,180.0,44.3,-0.1,-0.6,6.9,2.3,1.7
10172,2,60,1.5,2.7,3.1,5338.0,8.03,-0.1,2.5,15.7,79.3,134.0,37.4,-0.1,-0.6,5.1,2.4,1.7
10173,2,65,1.5,2.4,2.9,6270.8,6.01,-0.1,2.0,15.9,61.7,108.8,31.0,-0.2,-0.6,4.7,2.4,1.7
10174,2,70,1.5,1.3,1.7,5066.7,3.38,-0.2,1.3,13.0,39.8,74.0,24.9,-0.2,-0.6,4.9,2.0,0.0
10175,2,75,1.4,1.0,2.2,5564.1,3.82,-0.2,0.9,10.0,27.5,44.2,17.3,-0.6,-0.7,5.7,2.7,0.0

In [ ]:
data.drop(['행정동코드','자치구','행정동','총인구수','1인가구수','출근 소요시간 미추정 인구수',''])
# 평균 출근 소요시간 ,근무시간 미추정 인구수, 카카오톡 비사용 인구수, 통화량, 문자량,통화대상자,이동횟수,집 추정 위치, 이동거리
# 50%랑 평균값 남기고 날리기

In [ ]:
# Drop columns containing any of the specified words

In [3]:


list(data_clean.columns)

['성별',
 '연령대',
 '야간상주지 변경 미추정 인구 수',
 '야간상주지 변경횟수 평균',
 '주간상주지 변경 미추정 인구수',
 '주간상주지 변경횟수 평균',
 '소액결재 비사용 인구수',
 '소액결재 사용횟수 평균',
 '소액결재 사용 금액 없는 인구수',
 '소액결재 사용금액 평균',
 '최근 3개월 내 요금 연체 비율',
 'SNS 사용횟수',
 '데이터 사용량',
 '지하철 이용 미추정 인구수',
 '게임 서비스 사용 미추정 인구수',
 '게임 서비스 사용일수',
 '금융 서비스 사용 미추정 인구수',
 '금융 서비스 사용일수',
 '쇼핑 서비스 사용 미추정 인구수',
 '쇼핑 서비스 사용일수',
 '동영상/방송 서비스 사용 미추정 인구수',
 '동영상/방송 서비스 사용일수',
 '유튜브 사용 미추정 인구수',
 '유튜브 사용일수',
 '넷플릭스 사용 미추정 인구수',
 '넷플릭스 사용일수',
 '배달 서비스 사용 미추정 인구수',
 '배달 서비스 사용일수',
 '배달_브랜드 서비스 사용 미추정 인구수',
 '배달_브랜드 서비스 사용일수',
 '배달_식재료 서비스 사용 미추정 인구수',
 '배달_식재료 서비스 사용일수']

In [ ]:
# 새로운 칼럼 생성
data['1인가구 비율'] = round(data['1인가구수'].str.replace(',','').astype(int) / data['총인구수'].str.replace(',','').astype(int),2)

In [64]:
data.iloc[:,14:145]

,"배달_식재료 서비스 사용일수: 4분위수, 25%","배달_식재료 서비스 사용일수: 4분위수, 50%","배달_식재료 서비스 사용일수: 4분위수, 75%",1인가구 비율
0,1.7,1.7,1.7,0.31
1,0.0,0.0,0.0,0.33
2,1.7,1.7,1.7,0.34
3,1.7,1.7,1.7,0.31
4,1.7,1.7,1.7,0.25
...,...,...,...,...
10171,1.7,1.7,1.7,0.13
10172,1.7,1.7,1.7,0.14
10173,1.7,1.7,1.7,0.18
10174,0.0,0.0,0.0,0.16
10175,0.0,0.0,0.0,0.42

In [ ]:
data['SNS 사용횟수'].value_counts() # z스코어